body {
    background-image: url(img/scottish.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h2{
    text-align: center;
    color: black;
    justify-content: end;
}
p{
    text-align: justify;

    color: black;
    margin-top: 5%;
}
footer{
    margin-bottom: auto;
    color: aqua;
    text-align: center;
}